In [53]:
from plot_matcher import PlotMatcherKNN
import pandas as pd

In [54]:
# Import the datasets
pp = pd.read_csv('data/Project Plot Points.csv')
cp = pd.read_csv('data/Control Plot Points.csv')

In [55]:
# Check the datasets
display(pp.head(), cp.head())

   PP ID    2015    2016    2017  ...    2021    2022    2023    2024
0  18482  0.2823  0.2644  0.2645  ...  0.3194  0.3060  0.3162  0.3134
1  39716  0.2429  0.2958  0.3218  ...  0.3507  0.3281  0.3195  0.2899
2  27158  0.3623  0.3631  0.3977  ...  0.4505  0.4012  0.4051  0.4070
3  39583  0.2815  0.2844  0.3425  ...  0.3781  0.3883  0.4212  0.4259
4  25567  0.3042  0.3017  0.3583  ...  0.3858  0.4036  0.3738  0.3690

[5 rows x 11 columns]

   CP ID    2015    2016    2017  ...    2021    2022    2023    2024
0  49830  0.1289  0.0695  0.1128  ...  0.4418  0.4829  0.5190  0.5438
1  49829  0.0924  0.0762  0.1537  ...  0.4649  0.5011  0.5141  0.5161
2  49749  0.0639  0.0683  0.1097  ...  0.3669  0.4154  0.4714  0.4905
3  49908  0.1097  0.0933  0.1106  ...  0.4214  0.4507  0.4752  0.4824
4  49750  0.0555  0.0693  0.0872  ...  0.3436  0.3914  0.4375  0.4446

[5 rows x 11 columns]

The tables contain 2 column category: plot id (PP ID or CP ID) and SI years (2015 to 204)

In [56]:
# Define year columns as strings
project_start_year = 2025 
historical_si_years = [str(year) for year in range(project_start_year - 10, project_start_year)]

In [57]:
historical_si_years

['2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024']

In [58]:
# 1. Matcher instalation
matcher = PlotMatcherKNN(
    k=5, 
    metric='mahalanobis', 
    use_scaler=False, # Set to False based on your data characteristics
    id_col_labeled='PP ID',
    id_col_unlabeled='CP ID'
)

In [59]:
# 2. fit_transform to train model and finds pair, it will use df_pp as labelled data to find matches
matches_df = matcher.fit_transform(
    df_labeled= pp, 
    df_unlabeled= cp, 
    historical_si_cols=historical_si_years
)

print("\n--- Final Matches Found ---")
matches_df.head()

--- Performing fit_transform ---

--- Fitting KNNSimilarityMatcher ---
Initializing NearestNeighbors model with k=5, metric='mahalanobis'...
Mahalanobis distance configured successfully.
NearestNeighbors model fitted.
--- Fitting Complete ---

--- Transforming (Finding Matches) ---
Finding 5 nearest neighbors...

NameError: name 'df_unlabeled' is not defined

In [ ]:
# 2. fit_transform to train model and finds pair, it will use df_pp as labelled data to find matches
#    Ini akan menggunakan df_pp sebagai data labeled untuk dicari pasangannya
matches_df = matcher.fit_transform(
    df_labeled=df_pp, 
    df_unlabeled=df_cp, 
    historical_si_cols=historical_si_years
)

print("\n--- Final Matches Found ---")
print(matches_df.head())

# 3. Atau, pisahkan fit dan transform:
# matcher.fit(df_pp, df_cp, historical_si_years)
# # Anda bisa memanggil transform dengan data yang sama atau data baru
# matches_df_again = matcher.transform(df_pp) 
# print(matches_df_again.head())