In [1]:
from plot_matcher import PlotMatcherKNN
import pandas as pd

In [2]:
# Import the datasets
pp = pd.read_csv('data/Project Plot Points.csv')
cp = pd.read_csv('data/Control Plot Points.csv')

In [3]:
# Check the datasets
display(pp.head(), cp.head())

,PP ID,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,18482,0.2823,0.2644,0.2645,0.2848,0.2947,0.2964,0.3194,0.3060,0.3162,0.3134
1,39716,0.2429,0.2958,0.3218,0.3063,0.2996,0.3215,0.3507,0.3281,0.3195,0.2899
2,27158,0.3623,0.3631,0.3977,0.4050,0.3964,0.4171,0.4505,0.4012,0.4051,0.4070
3,39583,0.2815,0.2844,0.3425,0.3100,0.2451,0.3462,0.3781,0.3883,0.4212,0.4259
4,25567,0.3042,0.3017,0.3583,0.3687,0.3549,0.3888,0.3858,0.4036,0.3738,0.3690

,CP ID,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,49830,0.1289,0.0695,0.1128,0.2049,0.2838,0.3574,0.4418,0.4829,0.5190,0.5438
1,49829,0.0924,0.0762,0.1537,0.2143,0.2982,0.3917,0.4649,0.5011,0.5141,0.5161
2,49749,0.0639,0.0683,0.1097,0.1513,0.1995,0.2807,0.3669,0.4154,0.4714,0.4905
3,49908,0.1097,0.0933,0.1106,0.2302,0.3026,0.3634,0.4214,0.4507,0.4752,0.4824
4,49750,0.0555,0.0693,0.0872,0.1391,0.1888,0.2621,0.3436,0.3914,0.4375,0.4446

The tables contain 2 column category: plot id (PP ID or CP ID) and SI years (2015 to 204)

In [4]:
# Define year columns as strings
project_start_year = 2025 
historical_si_years = [str(year) for year in range(project_start_year - 10, project_start_year)]

In [5]:
historical_si_years

['2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024']

In [9]:
# 1. Matcher instalation
matcher = PlotMatcherKNN(
    k=3, 
    metric='mahalanobis', 
    use_scaler=False, # Set to False based on your data characteristics
    id_col_labeled='PP ID',
    id_col_unlabeled='CP ID'
)

In [10]:
# 2. fit_transform to train model and finds pair, it will use df_pp as labelled data to find matches
matches_df = matcher.fit_transform(
    df_labeled= pp, 
    df_unlabeled= cp, 
    historical_si_cols=historical_si_years
)

print("\n--- Final Matches Found ---")
matches_df

--- Performing fit_transform ---

--- Fitting PlotMatcherKNN ---
Skipping scaling.
Initializing NearestNeighbors model with k=3, metric='mahalanobis'...
Mahalanobis distance configured successfully.
NearestNeighbors model fitted.
--- Fitting Complete ---

--- Transforming (Finding Matches) ---
Using provided labeled data for matching.
Skipping scaling.
Finding 3 nearest neighbors...

--- Final Matches Found ---

,CP ID,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Matched_PP_ID,distance_metric_value
0,196412,0.2793,0.2654,0.2686,0.2880,0.2847,0.2997,0.3110,0.3134,0.3160,0.3153,18482.0,0.000303
1,222480,0.2864,0.2635,0.2613,0.2701,0.3027,0.2969,0.3175,0.3175,0.3189,0.3093,18482.0,0.000449
2,414966,0.2723,0.2790,0.2694,0.2804,0.2955,0.2988,0.3133,0.3067,0.3084,0.3155,18482.0,0.000508
3,87663,0.2606,0.2878,0.3165,0.3046,0.2961,0.3319,0.3387,0.3349,0.3072,0.3029,39716.0,0.000618
4,291011,0.2288,0.3135,0.3120,0.3016,0.3054,0.3156,0.3475,0.3320,0.3277,0.2962,39716.0,0.000625
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,134940,0.2011,0.2482,0.2664,0.2727,0.2701,0.2802,0.2799,0.2909,0.2822,0.2845,7768.0,0.000577
86,93267,0.1923,0.2355,0.2703,0.3007,0.2836,0.2768,0.2718,0.2905,0.2746,0.2796,7768.0,0.000596
87,346017,0.2635,0.2201,0.3174,0.2804,0.3607,0.3686,0.4074,0.3897,0.4403,0.4293,39868.0,0.001928
88,391850,0.2392,0.2527,0.2974,0.3263,0.3475,0.3716,0.3902,0.4148,0.4147,0.4082,39868.0,0.002058
89,356077,0.2965,0.2360,0.2792,0.2807,0.3896,0.4084,0.3707,0.3909,0.4257,0.4126,39868.0,0.002184